.technique_posts{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .technique_class a {
    color: black;
    text-decoration: none;
  }
  
  .technique_class{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 50px;
	  border: solid 1mm black;
    border-radius: 10px;
    align-items: center;
    margin: 2mm;
  }
  .name_icon_container{ 
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	gap: 20px;
	min-width: 325px;
	
  }
  .name_icon_container > a > img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    object-fit: scale-down;
  }
  .name_icon_container > h2{
	margin: 3mm;
  }
  
  .technique_information{
    display: flex;
    flex-direction: column;
	  width: calc(100vW - 325px);
  }
  .technique_information > div > h4{
    margin: 0;
  }

main {
	margin-left: 8%;
	margin-right: 8%;
}

main > section {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5mm;
    margin-bottom: 2cm;

    border-bottom-left-radius: 1cm;
    border-bottom-right-radius: 1cm;
}
  