html {
    --icon-margin: 13mm;
    --icon-dispersion: 12.75mm;
    --background-color: #999;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1%;
    padding-right: 1%;
}

.profile {
    flex: 1 1 calc(50% - 1cm);
    min-width: 4cm;
    text-align: justify;
    margin: 5mm;
}

.profile-area {
    position: relative;
    margin: auto;
    background-color: var(--background-color);
    padding: 5mm;
    border: outset 3mm gray;
    border-radius: 7mm;
}

.pfp-border {
    position: relative;
    left: 0;
    right: 0;
    margin: 2mm;
    height: 100%;
    border: solid 3px #000;
    border-radius: 40px;
    text-align: center;
}

/* Profile Picture */
.pfp-border > img {
    position: relative;
    width: calc(100% - 1cm);
    margin-bottom: 1cm;
    top: 5mm;
    left: -3mm;
    border: solid 2px;
    border-radius: 40px;
    object-fit: cover;
}

.pfp-border span {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: x-large;
    font-family: monospace;
}

.pfp-border a {
    position: absolute;
    width: 1cm;
    height: 1cm;
    border: solid 2px black;
    border-radius: 100%;
    text-decoration: none;
    color: black;
}

/* Media icon images */
.pfp-border > div > a > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.media-container {
    position: absolute;
    top: 0;
}

.pfp-media-1 {
    top: calc(var(--icon-margin) + var(--icon-dispersion));
}

.pfp-media-2 {
    top: calc(var(--icon-margin) + var(--icon-dispersion) * 2);
}

.pfp-media-3 {
    top: calc(var(--icon-margin) + var(--icon-dispersion) * 3)
}

/* The block that covers on the middle part */
.pfp-border-horizontal {
    position: absolute;
    left: -5px;
    width: calc(100% + 10px);
    height: 60%;
    top: calc((100% - 60%) / 2);
    background-color: var(--background-color);
}

/* The block covering up the top and bottom */
/* This block requires two classes depending on which side it's on */
.pfp-border-vertical {
    position: absolute;
    height: calc(100% + 10px);   
    top: -5px;
    background-color: var(--background-color);
}

.pfp-border-vertical-left {
    left: -5px;
    width: 90%;
}

.pfp-border-vertical-right {
    right: -5px;
    width: 90%;
}

.pfp-name {
    top: -8px;
}

.pfp-mail {
    top: calc(100% - 8px);
}

.profile-about {
    padding: 1cm;
    padding-top: 5mm;
    margin-left: 5mm;
    margin-right: 5mm;
    border-bottom-left-radius: 1cm;
    border-bottom-right-radius: 1cm;
    background-color: rgba(255, 255, 255, 0.6);
}

.profile-about h2, p {
    margin: 0;
}

/* Very much optional phone friendly code */
@media screen and (max-width: 10cm) {
    .profile {
        flex: 1 1 100%;
        margin: 5mm;
    }

    .pfp-border span {
        font-size: medium;
    }
}