<h1>Project in object oriented design, by making a game</h1>

<h2>Introduction</h2>
<p>This projekt focused on teaching object oriented design though the process of game creation. The game was made in c++ using the sfml library to abstract the complicated procces of making graphics and characters move. </p>

<h2>The game</h2>
<p>The game that was created is a top-down endless surviror shooter, where the player figths against an ever increasing amount of enemies that come in waves.
    The point of the game is to survie as long as possible against. 
    As the player kills the enemies the player is revorded with increasing power full weapons and uppgrades.      
</p>

<h2>Leard experienceses</h2>
<ol>
    <li><strong>Object oriented design:</strong> A large part of this project was considering a proper object oriented design of the system. It was noticed druing the games creation that a larger part of the code then previusly thought, could be broken down into smaller smaller classes. While some parts could be removed althogether.</li>
    <li><strong>UML:</strong> A UML digram of the game was drawn before and revised as a better structre became apperent. The drawing of the uml diagram and its relevant components was a new and intresting experience. </li>
    <li><strong>Profiling:</strong> The usage of a profiler was used while making the game, wich healped exposes some flaws that the game containd. That was harming the games overall preformace capabilities.</li>
    <li><strong>Smart pointers:</strong> When making the game shared_ptr where used insted of raw pointers this is to simplify memory management. However it was druing the creation of this game that we learnd that to properly use them they have there own way of making new pointers that needs to be applied.  </li>
    <li><strong>Proper return and input values:</strong> One of the challages incuterd druing the process of making the game was the preformace impact of not returning the or taking in complex datatypes as refrenses where aproprite.  </li>
</ol>


