<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/stylesheet.css') }}">
    {% block head %}
    {% endblock%}

</head>
<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        &copy; Copyright Philip Bromander & Dennis Abrikossov
    </footer>
</body>
</html>