{% extends "base.html" %}
{% block title %} 404 {% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/stylesheet_error.css') }}">
{% endblock %}

{% block header %}
    <h1><b><a href="{{url_for('projects')}}">PROJECTS</a></b></h1>
    <h1><b><a href="{{url_for('index')}}">HOME</a></b></h1>
    <h1><b><a href="{{url_for('techniques')}}">TECHNIQUES</a></b></h1>
{% endblock %}
{% block main %}
    <section>
        {% if image is defined %}
            <img src = "{{image}}" width="300rem">
        {% endif %}
        <h1>
            {% if err_header is defined %}
                {{ err_header }}
            {% else %}
                Oops! There has been an accident.
            {% endif %}
            </h1>
        <p>
            {% if err_message is defined %}
                {{ err_message }}
            {% endif %}
        </p>
    </section>
{% endblock %}