{% extends "base.html" %}
{% block title %}
id
{% endblock %}



{% block header %}
  

    <h1><a href="{{url_for('projects')}}"> Back to projects</a></h1>
    <h1><a href="{{url_for('id', index = project.project_id)}}">You are Viewing {{project.project_name}}</a></h1>
    <h1><a href="{{url_for('index')}}">HOME</a></h1>
    {% endblock %} 
  {% block main %}
 

    <div><H1>{{project.project_name}}</H1></div>
    <div>{{project}}</div>
    <div>{{project.big_image}}</div>
    <div>{{project.project_id}}</div>
    <div>{{project.project_name}}</div>
    <div>{{project.academic_credits}}</div>
    <div>{{project.course_name}}</div>
    <div>{{project.long_description}}</div>
    <div>{{project.external_link}}</div>
    <div>{{project.techniques_used}}</div>


{% endblock %}  