{% extends "base.html" %}
{% block title %}
Index
{% endblock %}

{% block body %}

<header>
    <h1><a href="{{url_for('projects')}}">PROJECTS</a></h1>
    <h1><a href="{{url_for('index')}}">WELCOME</a></h1>
    <h1><a href="{{url_for('techniques')}}">TECHNIQUES</a></h1>
  </header>

<main>
    {% for developer in information_developers %}
    <div class="user">
        <div class="developers">
            <p>{{developer.name}}</p>
            <div>
                <div>
                    {% for i in range(developer.external_link|length) %}
                        <p>{{developer.external_link[i]}}</p>  
                    {% endfor %}
                </div>
                <div><p><img src="{{ url_for('static', filename = 'images/'+developer.photo)}}" height="100" width="100"></p></div>
                
            </div>
            <p>{{developer.email}}</p>
            <p><b>About me:</b></p>
            <p>{{developer.about_me}}</p>
        </div>
    </div>
    {% endfor %}
</main>

<footer></footer>


{% endblock %}