{% extends "base.html" %}
{% block title %}
Projects
{% endblock %}

{% block body %}
<div id="Header">
  <a href="{{url_for('index')}}">index</a>
  <a href="{{url_for('projects')}}">projects</a>
  <a href="{{url_for('techniques')}}">techniques</a>
</div>
<br>
<div id="Main">
  <div>
    <form action="{{ url_for('add') }}" method="POST">
      <div class="search">
          <input name="search", id="search">
          <input type="submit" value="search">
      </div>
      <div class="techniques_used">
          {% for technique in techniques_used %}
              <input type="checkbox" id="{{technique}}" name="technique_box" value="{{technique}}">
              <label for="{{technique}}">{{technique}}</label>
          {% endfor %}
      </div>
      <div class="search_fields">
            <input type="checkbox" id="project_id" name="search_fields" value="project_id">
            <label for="project_id">project id</label>

            <input type="checkbox" id="start_date" name="search_fields" value="start_date">
            <label for="start_date">start_date</label>
            <input type="checkbox" id="end_date" name="search_fields" value="end_date">
            <label for="end_date">end_date</label>

            <input type="checkbox" id="short_description" name="search_fields" value="short_description">
            <label for="short_description">short_description</label>
            <input type="checkbox" id="long_description" name="search_fields" value="long_description">
            <label for="long_description">long_description</label>

            
            <input type="checkbox" id="academic_credits" name="search_fields" value="academic_credits">
            <label for="academic_credits">academic_credits</label>
            <input type="checkbox" id="group_size" name="search_fields" value="group_size">
            <label for="group_size">group_size</label>
            
            <input type="checkbox" id="project_name" name="search_fields" value="project_name">
            <label for="project_name">project_name</label>
            <input type="checkbox" id="course_name" name="search_fields" value="course_name">
            <label for="course_name">course_name</label>
            <input type="checkbox" id="course_id" name="search_fields" value="course_id">
            <label for="course_id">course_id</label>
            
      </div>
      <div class="sort_by">
            <input type="radio" id="project_id_radio" name="sort_by" value="project_id">project_id </input>
            <input type="radio" id="group_size_radio" name="sort_by" value="group_size">group_size</input>
            
            <input type="radio" id="project_name_radio" name="sort_by" value="project_name">project_name</input>
            <input type="radio" id="course_name_radio" name="sort_by" value="course_name">course_name</input>
            <input type="radio" id="course_id_radio" name="sort_by" value="course_id">course_id</input>

            <input type="radio" id="start_date_radio" name="sort_by" value="start_date">start_date</input>
            <input type="radio" id="end_date_radio" name="sort_by" value="end_date">end_date</input>
            
      </div>  
      <div class="sort_order">
        <input type="checkbox" id="sort_order" name="sort_order" value="asc">
        <label for="sort_order">sort order</label>
      </div>
    </div>
    </form>
  </div>
  <div>
    <br>
    <H1>Projects</H1>
    {% for data in data_base %}
      <li>
        <div>
            <b>Name: </b> <a href="{{url_for('id', index = data.project_id)}}">{{data.project_name}}</a> 
            <b>Description: </b>{{data.short_description}} 
        </div>  
      </li>
    {% endfor %}
  </div> 
</div>



<div id="Fotter">

</div>
{% endblock %}