{% extends "base.html" %}
{% block title %}
Techniques
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/stylesheet_techniques.css') }}">
{% endblock %}

{% block header %}
    <!--Links to go to other pages-->
    <h1><a href="{{url_for('projects')}}">PROJECTS</a></h1>
    <h1><a href="{{url_for('techniques')}}">TECHNIQUES</a></h1>
    <h1><a href="{{url_for('index')}}">HOME</a></h1>
{% endblock %}

{% block main %}
<!--section over enterire page-->
<section>
    <!---->
    <div class="technique_posts">
        <!--goes throug all techniques that are returned by the function get_technique_stats-->
        {% for technique, information in techniques_used.items() %}
            <div class="technique_class">
                <div class="name_icon_container">
                    <!-- check if the relavante technique exists in techniques.json-->
                    {% if techniques_information[technique] %}
                        <!--Displays the image of the relavat technique-->
                        <img src="{{ url_for('static', filename = 'images/techniques/'+techniques_information[technique].photo)}}" height="100" width="100">
                    {% endif %}
                    <!--If the technique name is pressed the page is moved to the searchpage with the relavnt technique checkbox checkd
                    and the projects filterd to only be visable if the project is using the relavant technique-->
                    <h2><a href="{{url_for('redirect_techniques',index=technique)}}">{{ technique }}</a></h2>
                </div>
                <div class="technique_information">
                    <div>
                        <!--Displays the number of times a technique is used-->
                        <h4>Number of projects using this technique: {{(information|length)}} </h4>
                    </div>
                    <div>
                        <!-- check if the relavante technique exists in techniques.json-->
                        {% if techniques_information[technique] %}
                            <!--Displays the description of the relevant technique-->
                            <h4>{{ techniques_information[technique].description }}</h4>
                        {% endif %}
                    </div>
                </div>
      
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}   
