{% extends "base.html" %}
{% block title %}
Techniques
{% endblock %}

{% block body %}
<header>
  <a href="{{url_for('index')}}">index</a>
  <a href="{{url_for('projects')}}">projects</a>
  <a href="{{url_for('techniques')}}">techniques</a>
</header>
<main>
  {% for technique, information in techniques_used.items() %}
    <div class="technique">
      <li>
        {% if techniques_information[technique] %}
        Photo: <img src="{{ url_for('static', filename = 'images/'+techniques_information[technique].photo)}}" height="100" width="100">
        {% endif %}
        <a href="{{url_for('redirect_techniques',index=technique)}}">Technique</a>: {{ technique }}
        <div>
        Techniquen används: {{(information|length)}}
        {% if techniques_information[technique] %}
        Description: {{ techniques_information[technique].description }}
        {% endif %}
        </div>
      </li>
    </div>
  {% endfor %}
</main>
<footer>
  
</footer>
{% endblock %}