html {
    --header-size: 2cm;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    min-height: var(--header-size);
    border-bottom: solid 2px;
    background-color: #555;
    text-decoration: none;
}

header h3 {
    
}

header a {
    display: inline-block;
    border: 5px;
}
header h1 {
    margin-top: 0;
}

main {
    /* This is required for the footer to be positioned properly */
    min-height: calc(100vh - var(--header-size) - 6mm);
    padding-bottom: 5mm;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5mm;
    margin-top: -5mm;
    clear: both;
    border-top: solid 2px;
    padding-left: 5mm;
    padding-right: 5mm;
}

body{
  display: flex;
  flex-direction: column;
  margin: 0;

}
  
  header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: xx-large;
    height: 2cm;
    border-bottom: solid 2px;
    background-color: #555;
  }

  header a {
    text-decoration: none;
    display: inline-block;
    border: 5px;
  }
  header h1 {
    margin-top: 0;
  }
  
a:link, a:visited {
  text-decoration: none;
  color: black;
}
  
