html {
    --header-size: 2cm;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("../static/images/red_tree_background.jpeg");
    backdrop-filter: blur(7px) contrast(100%) brightness(85%);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: var(--header-size);
    border-bottom: solid 2px #111;
    background-color: #555;
    color: white;
}

header a {
    display: inline-block;
    text-decoration: none;
    border: 5px;
    color: white;
}


main {
    /* This is required for the footer to be positioned properly */
    min-height: calc(100vh - var(--header-size) - 6mm);
    padding-bottom: 5mm;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5mm;
    margin-top: -5mm; /* Attempts to make sure the footer is visible without scrolling */
    clear: both;
    border-top: solid 2px #111;
    padding-left: 5mm;
    padding-right: 5mm;
    background-color: #555;
    color: white;
}
