main {
    margin-left: 15%;
    margin-right: 15%;
}

main > p {
    text-align: justify;
}

main > section {
    margin-bottom: 2cm;
}

#projects-arrow {
    content: "";
    position: relative;
    top: 1mm;
    left: -2mm;
    float: left;
    border-style: solid;
    border-width: 16px 24px 16px 0;
    border-color: transparent white transparent transparent;
}

#big-image {
    margin: 5mm;
    margin-right: 15mm;
    width: 35%;
    height: auto;
    border: solid 1mm;
    border-radius: 5mm;
    padding: 1mm;
    float: left;
}

#fact-frame {
    position: relative;
    margin-top: 5mm;
    margin-bottom: 2mm;
    min-height: 2cm;
    min-width: 4cm;
    width: calc(65% - 4cm);
    border: solid 1mm;
    border-radius: 5mm;
    padding: 3mm;
    float: left;
}