/* Here begins the sort by dropdowns*/
/* Style for the dropdown container */
.dropdown_container_sort_by, .dropdown_container_search_fields{
    position: relative;
    display: inline-block;
  }
  .dropdown_container_techniques_used{
    display: none;
  }

  /* Style for the dropdown checkbox */
  .dropdown_checkbox_sort_by, .dropdown_checkbox_search_fields, .dropdown_checkbox_techniques_used{
    position: absolute;
    opacity: 0;
  }

  /* Style for the dropdown button */
  .dropdown_label_sort_by, .dropdown_label_search_fields, .dropdown_label_techniques_used {
    background-color: white;
    border: none;
    color: #333;
    padding: 10px;
    text-align: left;
    width: 250px;
    cursor: pointer;
    text-align: center;
    font-size: 38px;
    padding-right: 0px;
  }
  .dropdown_label_search_fields, .dropdown_label_techniques_used{
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .dropdown_label_techniques_used{
    width: 200px;
  }

  /* Style for the dropdown content */
  .dropdown_content_sort_by, .dropdown_content_search_fields {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: solid;
    border-radius: 10px;
  }
  .dropdown_content_techniques_used{
    position: static;
    
    border-radius: 10px;
    border: solid;
 

  }

  
  /* Style for the checkboxes and labels within the dropdown content */
  .dropdown_content_sort_by label, .dropdown_content_search_fields label , .dropdown_content_techniques_used label{
    display: block;
    margin: 5px;

  }

  /* Show the dropdown content when the button is hovered */
  .dropdown_container_sort_by:hover .dropdown_content_sort_by, 
  .dropdown_container_search_fields:hover .dropdown_content_search_fields{
    display: block;
  }
  .dropdown_checkbox_techniques_used:checked .dropdown_label_techniques_used .dropdown_container_techniques_used{
    display: block;
  }

  .Delta{
    text-align: center;
    font-size: 38px;
    transform: rotate(180deg) scaleX(-1) ;
  }

  /* Style the grid layout for checkboxes */
  .checkbox_grid_techniques_used  {
    
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 5px;
    padding: 10px;
  }

  .search-terms{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    margin-top: 10px;
    margin-left: 8%;
    margin-right: 8%;
  }
  
  .posts{    
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .projects_class{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 50px;
    border: solid 2px;
    border-radius: 10px;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
  }

  .projects_class a {
    color: black;
    text-decoration: none;
  }

  .projects_class > img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
  }
  .projects_class > h2{
    width: 15vW;
    display: flex;
    flex-wrap: wrap;
  }
  #sort_order{
    display: none;
  }

  /* Style the label as a triangle */
.triangle::before {
  content: "";
  position: absolute;
  transform: translateY(30%) rotate(270deg);
  border-style: solid;
  border-width: calc(8px * 2) calc(12px * 2) calc(8px * 2) 0;
  border-color: transparent black transparent transparent;
}
#sort_order:checked + .triangle::before{
  transform: translateY(30%) rotate(90deg);
}


.sort_by{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search_input{
  width: 40vW;
  height: 1cm;
  border-radius: 10px;
  border: solid;
  font-size: 22px;
}
.forms{
  display: flex;
  flex-direction: column;
}
