/* Here begins the sort by dropdowns*/
/* Style for the dropdown container */

.dropdown_container_sort_by, .dropdown_container_search_fields, .dropdown_container_techniques_used{
    position: relative;
    display: inline-block;
  }


  /* Style for the dropdown checkbox */
  .dropdown_checkbox_sort_by, .dropdown_checkbox_search_fields, .dropdown_checkbox_techniques_used{
    position: absolute;
    opacity: 0;
  }

  /* Style for the dropdown button */
  .dropdown_label_sort_by, .dropdown_label_search_fields, .dropdown_label_techniques_used {
    border: none;
    color: #333;
    padding: 10px;
    text-align: left;
    width: 250px;
    cursor: pointer;
    text-align: center;
    font-size: 38px;
    padding-right: 0px;
  }
  .dropdown_label_search_fields, .dropdown_label_techniques_used{
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .dropdown_label_techniques_used{
    width: 200px;
  }

  /* Style for the dropdown content */
  .dropdown_content_sort_by, .dropdown_content_search_fields  {
    display: none;
    position: absolute;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0 ,0 ,0 , 0.2);
    z-index: 1;
    border: solid;
    border-radius: 10px;
  }

.dropdown_container_content_techniques_used {
    display: none;
    position: static;
    margin-left: 8%;
    margin-right: 8%;
    border: solid;
    border-radius: 10px;
    font-size: 24px;
    
}
  
  /* Style for the checkboxes and labels within the dropdown content */
  .dropdown_content_sort_by label, .dropdown_content_search_fields label , .dropdown_content_techniques_used label{
    display: block;
    margin: 5px;

  }

  /* Show the dropdown content when the button is hovered */
  .dropdown_container_sort_by:hover .dropdown_content_sort_by, 
  .dropdown_container_search_fields:hover .dropdown_content_search_fields{
    display: block;
  }
 

  .Delta{
    text-align: center;
    font-size: 38px;
    transform: rotate(180deg) scaleX(-1) ;
  }

  /* Style the grid layout for checkboxes */
  .checkbox_grid_techniques_used  {
    
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 5px;
    padding: 10px;
}


  
  .posts {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .projects_class {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 50px;
    border: solid 1mm black;
    border-radius: 10px;
    align-items: center;
    margin: 2mm;
}

  .projects_class a {
    color: antiquewhite;
    text-decoration: none;
  }

  .projects_class > img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    border: double 1.5mm black;
  }
  .projects_class > h2{
    width: 15vW;
    display: flex;
    flex-wrap: wrap;
  }
  #sort_order {
    display: none;
  }

  /* Style the label as a triangle */
.triangle::before {
  content: "";
  position: absolute;
  transform: translateY(30%) rotate(270deg);
  border-style: solid;
  border-width: calc(8px * 2) calc(12px * 2) calc(8px * 2) 0;
  border-color: transparent black transparent transparent;
}
#sort_order:checked + .triangle::before{
  transform: translateY(30%) rotate(90deg);
}


#sort_by{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#search {
  width: calc(40vW - 2mm);
  height: 1cm;
  border-radius: 10px;
  border: solid;
  font-size: 22px;
  padding: 2mm;
  background-color: rgba(255, 255, 255, 0.5);
}

#search-terms{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    margin: 2mm;
}

.dropdown-content {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-color: black;
    padding: 2mm;
}

form {
    display: flex;
    flex-direction: column;
}

main {
    margin-left: 8%;
    margin-right: 8%;
}

main > section {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5mm;
    margin-bottom: 2cm;

    border-bottom-left-radius: 1cm;
    border-bottom-right-radius: 1cm;
}