{% extends "base.html" %}
{% block title %} Portfolio {% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/stylesheet_index.css') }}">
{% endblock %}

{% block header %}
    <h1><b><a href="{{url_for('projects')}}">PROJECTS</a></b></h1>
    <h1><b><a href="{{url_for('index')}}">WELCOME</a></b></h1>
    <h1><b><a href="{{url_for('techniques')}}">TECHNIQUES</a></b></h1>
{% endblock %}

{% block main %}

    {% for developer in information_developers %}
    <section class="profile">
        <div class="profile-area">
            <div class="pfp-border">
                <div class="pfp-border-horizontal"></div>
                <div class="pfp-border-vertical"
                    {% if loop.index % 2 == 0 %} style="right: -5px;"
                    {% else %}style="left: -5px;"{% endif %}></div>
                <span class="pfp-name"
                    {% if loop.index % 2 == 0 %} style="margin-left: 2cm;"
                    {% else %} style="margin-right: 2cm;" {% endif %}>
                    <b> {{developer.name}} </b>
                </span>
                <img src="{{ url_for('static', filename = 'style/developers/' + developer.photo)}}"
                    {% if loop.index % 2 == 0 %} style="left: 3mm;"
                    {% else %} style="left: -3mm;" {% endif %}>
                <span class="pfp-mail"
                    {% if loop.index % 2 == 0 %} style="margin-left: 2cm;"
                    {% else %} style="margin-right: 2cm;" {% endif %}>
                    <b> {{developer.email}} </b>
                </span>
                <div class="media-container"
                    {% if loop.index % 2 == 0 %} style="left: -6mm;"
                    {% else %} style="left: calc(100% - 5mm);" {% endif %}>
                    <a href="{{ developer.external_link[0] }}" class="pfp-media-1">
                        <img src="{{ url_for('static', filename = 'style/' ~ developer.external_icon[0])}}">
                    </a>
                    <a href="{{ developer.external_link[1] }}" class="pfp-media-2">
                        <img src="{{ url_for('static', filename = 'style/' ~ developer.external_icon[1])}}">
                    </a>
                    <a href="{{ developer.external_link[2] }}" class="pfp-media-3">
                        <img src="{{ url_for('static', filename = 'style/' ~ developer.external_icon[2])}}">
                    </a>
                </div>
            </div>
        </div>
        <div class="profile-about">
            <h2>About me:</h2>
            <p> {{developer.about_me}} </p>
        </div>
    </section>
    {% endfor %}

{% endblock %}